*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: darkslategray;
}
.container {
    padding: 10vh;
    height: 100vh;
}
.slider{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}
